<!--Include the header partials file -->
<% include ../partials/header %>

<!--Display information about a selected campground -->
<div class="row">
  <div class="col-md-3">
    <p class="lead">Campground Map</p>
    <div class="mb-3" id="map"></div>
  </div>
  <div class="col-md-9">
    <div class="card mb-3">
      <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
      <div class="card-body">
        <p class="float-right">
			
          <b>$<%= campground.cost %> / night</b>
        </p>
        <h5 class="card-title"><a><%=campground.name%></a></h5>
        <p>
<em>Submitted by: <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em>
        </p>
		  <hr>
		  <p class="card-text"><%= campground.description %></p>
          <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="delete-form">
          <button class="btn btn-danger">Delete</button>
        </form>
          <% } %>
		  <div class="mt-10">
                        <a class="btn btn-default" href="/campgrounds"><i class="fa fa-arrow-left"></i> Go back</a>
                    </div>
      </div>
    </div>
	  
	  <!--Review section-->
            <div class="card mb-3">
                <div class="card-body">
                    <% if (campground.rating === 0) { %>
                    <h5>
                        <em>No reviews yet.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= campground.reviews.length %>)</em>
                    </p>
                    <p>
                       <h5>Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>  
					</h5> 
                    </p>
                    <p><h6>Latest reviews for this campground:</h6></p>
                    <hr style="mt-0">
                    <% campground.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-warning float-left mr-1"
                               href="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form id="delete-form" action="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-danger float-left" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div class="mb-10">
                        <h5><a href="/campgrounds/<%= campground._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h5>
                    </div>
                    <% } %>
                    <div>
                        <a class="btn btn-primary <% if (currentUser && campground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/campgrounds/<%= campground._id %>/reviews/new">
                           <h6> Write a New Review</h6></a>
                    </div>
                </div>
            </div>

    <!--COMMENT SECTION START-->
    <div class="card">
      <!--Setting up the add new comment button that is used for collapsing-->
	<div class="card-body">
      <div class="text-right">
        <a class="btn btn-success mb-1" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
           Add new comment</a>
      </div>

      <!--Comment section title-->
      <h4>Comments <i class="far fa-comments"></i></h4>

      <!--Collapse Add a comment form START-->
      <div class="collapse" id="collapseComment">
        <div class="card" style="border-left: 3px solid #00C851;">
            <% if(!currentUser) { %>
          <!--If the user is not logged in, direct him to the login page-->
			<p>
				<h6 class="ml-3">You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h6>
			</p>
            <% } %>
            <% if(currentUser) { %>
          <!--If the user is logged in, show the new comment form-->
          <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST" class="ml-3">
            <div class="form-group mr-3">
              <input class="form-control mt-3" type="text" disabled value="<%= currentUser.username %>">
            </div>
            <div class="form-group mr-3">
              <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-sm">Submit Comment</button>
            </div>
          </form>
            <% } %>
        </div>
      </div>
      
		<!--Collapse Add a comment form END-->

      <hr>

      <!--Check if there are comments, if there are none say no comments.-->
        <% if (campground.comments.length === 0) { %>
      <em style="color: grey;">No comments yet.</em>
        <% } %>

      <!--Display comments by looping through them-->
        <% campground.comments.forEach(function(comment) { %>
      <div class="row">
        <div class="col-md-12">
          <strong>
              <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
            <!--If the current user owns the comment, change the color of the user icon-->
            <span style="color: orange;" aria-hidden="true"><i class="fas fa-user"></i></span>
              <% } else { %>
            <!--Else just display it black-->
            <i class="fas fa-user"></i>
              <% } %>
            <!--Print out the author username-->
              <%= comment.author.username %>
          </strong>
          <!--Show when the comment was made-->
          <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
          <!--Printing the comment-->
          <p><%= comment.text %></p>
          <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
            <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
          <!--Edit button used for collapsing the edit comment form-->
          <a class="btn btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">
            Edit</a>
          <!--Delete comment button-->
          <form id="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-danger">Delete</button>
          </form>
          <!--Edit comment form-->
          <div class="collapse" id="collapseEdit<%= comment._id %>">
            <div class="card" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
              <h4 class="ml-3 mt-3">Edit your comment </h4>
              <form class="ml-3" id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group mr-3">
                  <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                </div>
                <div class="form-group mr-3">
                  <textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-warning btn-sm">Edit comment</button>
                </div>
              </form>
            </div>
          </div>
            <% } %>
          <hr>
        </div>
      </div>
        <% }) %>
    </div>
    <!--COMMENT SECTION END-->

  </div>
</div>

<!--Script to include the google maps API -->
<script>
    function initMap() {
        var lat = <%= campground.lat %>;
        var lng = <%= campground.lng %>;
        var center = {lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8PtiPD0NbeMYiHGtCzs4ozody5FSnVck&callback=initMap"></script>

<!--Include the footer partials -->
<% include ../partials/footer %>
